{{yield}}

<form class="form" {{action "save" on="submit"}}>
  
  <div class="control-group">
    <div class="control-label">
      <label>Username</label>
    </div>

    <div class="controls">
      {{input value=username type="text"}}
    </div>
  </div>
  
  <div class="control-group">
    <div class="control-label">
      <label>Date of birth: {{dateOfBirthShow}}</label>
    </div>

    <div class="controls">
      {{input value=dateOfBirth type="date"}}
    </div>
  </div>
  
  <button type="submit" class="btn">Log in!</button>
</form>